/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/open-sans-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-500 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		 url('../fonts/open-sans-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/open-sans-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		 url('../fonts/open-sans-v29-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/open-sans-v29-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/open-sans-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


//------------------------------------------------------------------------------

$text-trm-upp:uppercase;
$text-rtm-cap:capitalize;

@mixin raleway-font($fw,$fs,$lh,$clr) {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}

@mixin open_sans-font($fw,$fs,$lh,$clr) {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}


%nav-link-style{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
}

.h2-titles-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #000000;
}

.h5-sub_title-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
}

input {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #BDBDBD;
}

textarea{
	border:none;
	background-color: transparent;
	border-bottom: 1px solid #BDBDBD;
	width: 100%;
	resize: none;
}

html{
	box-sizing: border-box;
	height: 100%;
}

*,*::before,*::after{
	box-sizing: inherit;
}

img{
	max-width: 100%;
	height: auto;
}

.main-wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	.main{
		flex: 1 1 auto;
	}
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// header style start -----------------------

.header{
	background-color: #000000;;
}

.header__flex{
	display: flex;
	justify-content: space-between;
}

.header__nav{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    
	.header__list{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
	}

	.header__link{
		margin-right: 60px;
		@extend %nav-link-style;
		transition: 0.6s;
		&:hover{
			opacity: 0.7;
		}
		&:active{
			opacity: 0.5;
		}
	}
}

// header style end



// intro style start

.intro{
	background-image: url(../img/background-intro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 951px;
}

.intro__content{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 208px;
}

.intro__logo2{
	margin-bottom: 51px;
}
.intro__title-style{
	@include raleway-font(500,48px,56px,white);
	text-transform: $text-trm-upp;
}

.intro__title{
	width: 670px;
	margin-bottom: 55px;
	&::after{
		margin-top: 55px;
		margin-bottom: 42px;
		content: "";
		display: block;
		width: 170px;
		height: 1px;
		background-color: #FFFFFF;
	}
}

.intro__sub-title{
	width: 280px;
	margin-bottom: 42px;
}

.intro__sub-title-style{
	@include raleway-font(400,18px,21px,white)
}

.intro__button{
	@include open_sans-font(600,18px,25px,white);
	background-color: transparent;
	border: 2px solid #FFFFFF;
	width: 270px;
	height: 58px;
	transition: 0.7s;
}

.intro__button:hover{
	border-color: #EC7979;
	color: #EC7979;
}

.intro__button:active{
	background-color:#AB4949;;
	border: 2px solid #AB4949;
	color: white;
}

.intro__form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 470px;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 10px;

	& input:nth-of-type(3){
		margin-bottom: 75px;
	}
}

.intro__form-h4-box{
	width: 367px;
	height: 90px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 45px;
}

.intro-form__h4-style{
	@include open_sans-font(700,24px,33px,#333333);
	text-transform: $text-trm-upp;
	
	>span{
		color: #EC7979;
	}
}

.intro__form-input{
	padding-bottom: 16px;
	width: 370px;
	margin-bottom: 33px;

	&::placeholder{
		@include open_sans-font(400,14px,19px,#BDBDBD)
	}
}

.intro__form-bottun{
	width: 100%;
	border: none;
	background-color: #EC7979;
	border-radius: 0px 0px 10px 10px;
	height: 60px;
	@include open_sans-font(600,15px,20px,#FFFFFF);
	transition: 0.7s;
}
.intro__form-bottun:hover{
	background-color: #AB4949;
}

.intro__form-bottun:active{
	background-color: #EC7979;
}


@media(max-width:1024px){

	.intro__content{
		padding-top: 136px;
	}

	.intro{
		height: 768px;
	}

	.wrapper{
		max-width: 1054px;
	}

	.intro__title{
		width: 454px;
		&::after{
			width: 115px;
			margin-top: 41px;
			margin-bottom: 31px;
		}
	}

	.intro__title-style{
		@include open_sans-font(500,36px,42px,#FFFFFF)
	}

	.intro__form{
		width: 398px;
	}

	.intro__sub-title{
		margin-bottom: 31px;
	}

	.intro__sub-title-style{
		@include raleway-font(400,14px,16px,#FFFFFF)
	}

	.intro__button{
		width: 183px;
		height: 50px;
	}

	.intro__form-input{
		width: 298px;
	}

	.intro__form-h4-box{
		width: 298px;
	}

	.intro-form__h4-style{
		@include open_sans-font(700,18px,25px,#333333)
	}

}

@media (max-width:320px){

	.intro{
		height:100%;
		padding-bottom: 50px;
	}
	.intro__logo2{
		display: none;
	}

	.intro__content{
		flex-direction: column;
	}

	.intro__title{
		width: 288px;
		&::after{
			width: 134px;
			margin-top: 44px;
			margin-bottom: 42px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.intro__title-style{
		text-align: center;
	}

	.header__nav{
		display: none;
	}

	.intro__sub-title{
		margin-bottom: 42px;
		text-align: center;
	}

	.intro__button{
		width: 288px;
		height: 50px;
	}

	.intro-content__left{
		margin-bottom: 56px;
	}

	.intro__form{
		width: 288px;
		& input:nth-of-type(3){
			margin-bottom: 51px;
		}
	}

	.intro__form-h4-box{
		width: 240px;
		margin-bottom: 0;
	}

	.intro-form__h4-style{
		@include open_sans-font(700,14px,19px,#333333)
	}

	.intro__form-input{
		width:240px;
	}

}

// intro style end



// social-media style start

.social-media{
	background-color: #F8EFEF;
	padding-bottom: 18px;	
}

.social-media__content{
	display: flex;
	flex-wrap:nowrap;
	justify-content: space-between;
}

.social-media__text-block{
	width: 470 / 1170 * 100%;
}
.social-media__social{
	margin-top: 2px;
	height: 60px;
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}
.social__style{
	@include open_sans-font(700,24px,33px,#333333)
}

.socila-icon{
	margin-right: 30px;
	display: flex;
	align-items: center;
	&:last-child{
		margin-right: 0;
	}

	a:hover{
		opacity: 0.6;
		transition: 0.5s;
	}
}

.social-media__icons{
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
}

.social__text-style{
	@include raleway-font(400,18px,21px,#86878B )
}



@media(max-width:1024px){

	.social-media{
		padding-bottom: 13px;	
	}

	.facebook-ico,
	.twitter-ico,
	.linkedin-ico,
	.pinterest-ico,
	.instagram-ico,
	.github-ico,
	.rss_icon-ico{
		width: 60px;
		height: 60px;
	}
	.socila-icon{
		margin-right: 20px;
	}

	.social__style{
		@include open_sans-font(700,18px,25px,#333333)
	}

	.social__text-style{
		@include raleway-font(400,14px,16px,#86878B )
	}

	.social-media__social{
		margin-bottom: 13px;
		height: 45px;
	}
}

@media (max-width:320px){
	.social-media__content{
		flex-direction: column;
	}
	.facebook-ico,
	.twitter-ico,
	.linkedin-ico,
	.pinterest-ico,
	.instagram-ico,
	.github-ico,
	.rss_icon-ico{
		width: 26px;
		height: 26px;
	}
	.socila-icon{
		margin-right: 17px;
	}

	.social-media{
		padding-bottom: 44px;
		padding-top: 31px;	
	}


	.social-media__text{
		width: 271px;
		margin-bottom: 32px;
		text-align: center;
		
	}
	.social-media__social{
		width: 287px;
		margin-top: 0;
		justify-content: center;
	}

	.social__style{
		text-align: center;
	}
}

// socia-media style end



// tabs_plus_awesome style start

.tabs_plus_awesome{
	padding-top: 99px;
	padding-bottom: 58px;
}

.tabs__items{
	display: flex;
}

.tabs__item{
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.tabs__body{
	padding-left: 100px;
	border-left:1px solid #C6CBCD;
	border-bottom:1px solid #C6CBCD;
	border-right:1px solid #C6CBCD;
	margin-bottom: 50px;
}


.tabs__info{
	margin-right: 30px;
}

.tabs__block{
	display: flex;
	flex-wrap: nowrap;
}

.tabs__title,.tabs__text{
	width: 570px;
}

.tabs__title{
	margin-bottom: 27px;
	height: 124px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.tabs__text{
	margin-bottom: 27px;
}

.tabs-title__style{
	@include open_sans-font(700,30px,41px,#000000)
}

.tabs-text__style{
	@include raleway-font(400,18px,21px,#000000 )
}

.tabs__item-style{
	@include open_sans-font(400,14px,19px,#333333);
	text-transform: $text-trm-upp;
	text-decoration: none;

}

.tabs__item{
	width: 184px;
	text-align: center;
}

.why-awesome{
	margin-bottom: 40px;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;

	// &::after{
	// 	content: '';
	// 	display: block;
	// 	width: 170px;
	// 	height: 1px;
	// 	background-color: #EC7979;
	// }
}

.lorem-awesome{
	margin-bottom: 71px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lorem-awesome__style{
	color: #86878B;
}

.awesome__cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 370px / 1170px * 100%;
}



.awsome-card__title-style{
	@include open_sans-font(700,24px,33px,#000000)
}

.awesome-card__text-style{
	color: #000000;
}

.awesome-card__title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	margin-bottom: 8px;
}

.awesome-card__text{
	width: 100%;
	height: 105px;
	text-align: center;
	overflow: auto;
	overflow-x: hidden;
}

@media(max-width:1024px){

	.why-awesome__style{
		@include raleway-font(400,24px,28px,#000000);
	}

	.lorem-awesome__style{
		@include raleway-font(400,14px,16px,#86878B)
	}

	.awsome-card__title-style{
		@include open_sans-font(700,18px,25px,#000000)
	}
	
	.awesome-card__text-style{
		@include raleway-font(400,14px,16px,#000000)
	}

	.aw-log{
		width: 147px;
		height: 147px;
	}


	.awesome-card__title{
		height: 80px;
	}

	.lorem-awesome{
		margin-bottom: 31px;
	}

}

@media(max-width:320px){


	.lorem-awesome{
		width: 100%;
		margin-bottom: 50px;
		justify-content: center;
		align-items: center;
	}

	.awesome__cards{
		flex-direction: column;
	}

	.card{
		width: 100%;
		margin-bottom: 10px;
	}

	.why-awesome__style{
		@include raleway-font(400,24px,28px,#000000);
	}

	.lorem-awesome__style{
		@include raleway-font(400,13px,15px,#86878B);
		text-align: center
	}


}
// tabs_plus_awesome style end



// pricing style start

.pricing{
	padding: 50px 0px;
	background-color: #F5F5F5;
}

.pricing__title-box{
	width: 100%;
	height: 150px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lorem-awesome__style{
	margin-bottom: 59px;
}

.pricing__cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pricing__item{
	display: flex;
	flex-direction: column;
	width: 370px / 1170px * 100%;
	>div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.it2{
	position: relative;
	bottom: 20px
}

.pricing__item > div:nth-child(1){
	height: 60px;
	>h4{
		@include open_sans-font(700,24px,33px,white);
		text-transform: $text-rtm-cap;
	}
}
.pricing__item > div:nth-child(2){
	height: 100px;
	>h3{
		@include raleway-font(700,36px,42px,white);
	}
}
.plate_1,.plate_2,.plate_3{
	background-color: #333333;
	border: 2px solid #F5F5F5;
	color: white;
}

.pricing__item > div:nth-child(3),
.pricing__item > div:nth-child(4),
.pricing__item > div:nth-child(5),
.pricing__item > div:nth-child(6),
.pricing__item > div:nth-child(7),
.pricing__item > div:nth-child(8),
.pricing__item > div:nth-child(9){
	height: 50px;
	>h5{
		@include raleway-font(400,18px,21px,#86878B);
		text-transform:$text-rtm-cap;
	}
}

@media(max-width:1024px){

	.pricing__title-style{
		@include raleway-font(400,24px,28px,black)
	}

	.lorem-awesome__style{
		@include raleway-font(400,14px,16px,#86878B)
	}

}

@media(max-width:320px){

	.it2{
		position: static;
	}

	.pricing__cards{
		flex-direction: column;
	}

	.pricing__item{
		width: 100%;
	}

	.pricing__item:not(:last-child){
		margin-bottom: 27px;
	}
	.plate_1 h4{
		@include open_sans-font(700,18px,25px,white )
	}
	
}






// pricing style end









